.main-page {
    display: flex;

    width: 100%;

    padding: 10px;

    justify-content: flex-start;
    align-items: stretch;

    flex-flow: column;

    @media all and (min-width:600px) {
        width: 45%;

        margin: 0 auto;
    }
}